body {
  margin: 0;
}

main {
  padding: 36px;
}

.header {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}

.header--left {
  display: flex;
  gap: 8px;
  align-items: center;
}

.header--h3 {
  font-family: 'Karla';
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.1em;
}

.header--img {
  width: 40px;
}

.header--p {
  font-family: 'Inter';
  font-weight: 500;
  letter-spacing: 0.8px;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  color: white;
  border: none;
  cursor: pointer;
}
